.oauthContainer {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 20px;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

@media (width <= 380px) {
  .signupContainer a {
    padding-block: 12px;
  }
}
