.popover {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 0;
  min-width: 160px;
  padding: 4px;
  background-color: var(--color-dark-300);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
