.popover {
  position: absolute;
  z-index: 10;
  bottom: calc(100% + 8px);
  left: 0;

  min-width: 160px;
  padding: 4px;
  border-radius: 2px;

  background-color: var(--color-dark-300);
  box-shadow: 0 4px 12px rgb(0 0 0 / 40%);
}
