.photoColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  padding-top: 24px;
}

.photoButton {
  width: 192px;
  padding: 5px 23px;
}

.photoButtonLabel {
  color: var(--color-accent-500);
}

.photoButton:hover .photoButtonLabel {
  color: var(--color-accent-100);
}

.photoButton:active .photoButtonLabel {
  color: var(--color-accent-500);
}

@media (width <= 768px) {
  .photoButton {
    padding-block: 11px;
  }
}
