.wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  display: flex;
  gap: 12px;
  align-items: center;
}

.logout {
  margin-top: auto;
}
