.form {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  margin-bottom: 36px;
}

@media (width <= 480px) {
  .form {
    width: 100%;
    max-width: 330px;
  }

  .button {
    padding-block: 12px;
  }
}
