.root {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;

  padding: 14px 16px 16px;
}

.commentInputPlaceholder {
  color: var(--color-light-900);
}

.publishButton {
  padding: 0;
  font-weight: 600;
  color: var(--color-accent-500);
}
