.mediaWrap {
  overflow: hidden;

  box-sizing: border-box;
  width: 100%;
  height: 504px;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  background: var(--color-dark-500);
}

.carousel {
  width: 100%;
  height: 100%;
}

.slide {
  position: relative;
  width: 100%;
  height: 504px;
  background: var(--color-dark-500);
}

.mediaImage {
  object-fit: contain;
  object-position: center;
}

.emptyMedia {
  display: grid;
  place-items: center;

  width: 100%;
  height: 504px;

  color: var(--color-light-900);
}

@media (width <= 768px) {
  .mediaWrap {
    height: auto;
  }

  .slide {
    aspect-ratio: 491 / 504;
    height: auto;
  }

  .emptyMedia {
    aspect-ratio: 491 / 504;
    height: auto;
    min-height: 280px;
  }
}
