.main {
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  padding-bottom: 30px;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  margin: 0 auto;
  padding-top: 24px;
  padding-inline: var(--container-padding);
}

body[data-has-sidebar='true'] .main {
  margin-left: var(--sidebar-width);
}

@media (width <= 768px) {
  body[data-has-sidebar='true'] .main {
    margin-left: 0;
    padding-bottom: 90px; /* Space for bottom navigation (60px height + 30px extra) */
  }
}

@media (width <= 380px) {
  .main {
    padding-bottom: 15px;
  }

  body[data-has-sidebar='true'] .main {
    padding-bottom: 75px; /* Adjusted for smaller screens */
  }

  .container {
    padding-top: 17px;
  }
}
