.main {
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + 20px);
  margin: 0 auto;
  padding-top: 24px;
  padding-inline: 10px;
}

.main.withSidebar {
  margin-left: var(--sidebar-width);
}
