.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.form input {
  padding: 6px 12px;
}

.form div.error {
  margin-bottom: -24px;
}

.error {
  color: var(--color-danger-500);
}

.success {
  color: var(--color-success-500);
}

.checkbox span {
  display: inline;
}

.checkbox > span:first-of-type {
  flex-shrink: 0;
}
