.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 473px;
  margin: 0 auto;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  order: -2;

  max-width: 300px;
  margin-bottom: 30px;

  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-width: 232px;
  margin-bottom: 36px;
}

.form.error {
  gap: 0;
}

.form input {
  padding: 6px 12px;
}

@media (width <= 480px) {
  .form,
  .image {
    width: 100%;
    max-width: 330px;
  }

  .image {
    order: -1;
    height: auto;
    margin-bottom: 42px;
  }

  .form input,
  .button {
    padding-block: 12px;
  }
}

@media (width <= 380px) {
  .textWrapper {
    gap: 13px;
    max-width: 330px;
  }

  .title {
    font-size: 18px;
    line-height: 133%;
  }
}
