.header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--header-height);
  margin: 0 auto;
  padding-inline: 60px;
  border-bottom: 1px solid var(--color-dark-300);

  background-color: var(--color-dark-700);
}

.logo {
  color: var(--color-light-100);
}

.actions {
  display: flex;
  gap: 36px;
}

.buttonWrapper {
  display: flex;
  gap: 24px;
}

.buttonWrapper > button {
  min-width: 100px;
  padding-inline: 5px;
}

.mobileOnly {
  display: none;
}

.desktopOnly {
  display: block;
}

@media (width <= 530px) {
  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }
}

@media (width <= 768px) {
  .header {
    padding-inline: 15px;
  }

  .actions {
    gap: 24px;
  }

  .buttonWrapper {
    gap: 12px;
  }
}
