.header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--header-height);
  margin: 0 auto;
  padding-inline: 60px;
  border-bottom: 1px solid var(--color-dark-300);

  background-color: var(--color-dark-700);
}

.logo {
  color: var(--color-light-100);
}

.actions {
  display: flex;
  gap: 36px;
}

.buttonWrapper {
  display: flex;
  gap: 24px;
}

.buttonWrapper > button {
  min-width: 100px;
  padding-inline: 5px;
}

/* ===== MOBILE ===== */

.mobileMenu {
  position: relative;
  display: none;
}

.dropdown {
  position: absolute;
  z-index: 200;
  top: 25px;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 161px;
  height: 204px;
  border: 1px solid var(--color-dark-100);

  background: var(--color-dark-500);
}

.dots {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.dots.open svg {
  color: var(--color-accent-500);
}

.menuItem {
  display: flex;
  gap: 10px;
  justify-content: flex-start;

  margin-bottom: 18px;
  padding: 0 12px;

  color: var(--color-light-100);
}

.menuItem:last-child {
  margin-bottom: 0;
}

@media (width <= 768px) {
  .buttonWrapper {
    display: none;
  }

  .mobileMenu {
    display: block;
  }

  .header {
    justify-content: space-between; /* элементы растягиваются по краям */
    padding-inline: 16px;
  }
}
