.modalContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-height: 90vh;
}

.modalContainerWide {
  width: 90%;
  max-width: 900px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;

  min-height: 0;
}

@media (width <= 768px) {
  .modalContainer {
    width: calc(100% - 32px);
    max-height: 92vh;
  }

  .modalContainerWide {
    width: calc(100% - 32px);
    max-width: none;
  }

  .content {
    gap: 16px;
  }
}

@media (width <= 380px) {
  .modalContainer,
  .modalContainerWide {
    width: calc(100% - 16px);
    max-height: 94vh;
  }

  .content {
    gap: 12px;
  }
}
