.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.scrollSection {
  overflow: hidden auto;
  display: flex;
  flex: 1;
  flex-direction: column;

  min-height: 0;
}

.scrollSection::-webkit-scrollbar {
  width: 6px;
}

.scrollSection::-webkit-scrollbar-track {
  border-radius: 4px;
  background: var(--color-dark-300);
}

.scrollSection::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--color-dark-100);
}

.scrollSection::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-500);
}

.scrollSection::-webkit-scrollbar-thumb:active {
  background: var(--color-accent-700);
}

.content {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: stretch;

  min-width: 0;
  height: 100%;
  min-height: 0;
}

.metaSection {
  display: flex;
  flex-direction: column;

  min-width: 0;
  min-height: 0;
  border-left: 1px solid var(--color-dark-100);
}

@media (width <= 900px) {
  .content {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    min-width: 0;
    height: auto;
  }

  .metaSection {
    overflow: visible;
    flex: none;

    width: 100%;
    min-width: 0;
    min-height: 0;
    border-top: 1px solid var(--color-dark-100);
    border-left: none;
  }

  .root {
    flex: none;
    min-width: 0;
  }

  .scrollSection {
    overflow: visible;
    flex: none;
    min-width: 0;
  }
}
