.mainPage {
  display: flex;
  flex-direction: column;
  gap: clamp(28px, 4vw, 48px);

  width: 100%;
  min-width: 0;
}

@media (width <= 768px) {
  .mainPage {
    gap: 24px;
  }
}

@media (width <= 380px) {
  .mainPage {
    gap: 20px;
  }
}
