.modalContainer {
  max-width: 400px;
}

.modalBody {
  line-height: 1.6;
  text-align: center;
}

.modalFooter {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  padding-top: 5px;
}

.buttonModal {
  width: 96px;
}
