.modalContainer {
  max-width: 400px;
}

.modalBody {
  line-height: 1.6;
  text-align: center;
}

.modalFooter {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  padding-top: 5px;
}

.buttonModal {
  width: 96px;
}

@media (width <= 380px) {
  .modalContainer {
    max-width: 100%;
    margin-inline: 12px;
  }

  .modalBody {
    padding-inline: 12px;
    text-align: center;
  }

  .modalFooter {
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
  }

  .buttonModal {
    align-self: unset;
    width: 100%;
    padding-block: 12px;
  }
}
